.dark-background {
  background-color: var(--bg-overlay);
  min-height: 100vh; 
  width: 100vw; 
  position: fixed; 
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}

.dark-background .loading {
  color: white; 
  font-size: 2rem; 
}
