/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif; 
  height: 100vh;
  width: 100vw;
} */

.card-grid-wrapper {
  padding: 2rem;
  max-width: 1300px;
  margin: 0 auto;
  animation: slideIn 0.2s ease-in-out;
}

@keyframes slideIn {
    from {
    transform: translateX(20%);
    opacity: 0.6;
  }
  to {
    transform: translateX(0);
    opacity: 1
  }
}

.results {
  margin-bottom: 2rem;
  opacity: 0.8;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 3rem;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: rgb(165, 5, 5);
  height: 20vh;
  width: 20vw;
  font-size: 1.5dvw;
  font-weight: bold;
  cursor: default;
  margin-top: 40vh;
  margin-left: 40vw;
}